body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:#fff;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 80px;
    /*    background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;*/

}

.menu-scroll .main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
    height: 80px;
}
.menu-scroll .main_menu_bg .nave_menu {
    margin-top:0px;
}
.main_menu_bg{
    margin-top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 100px;
    transition: all 0.3s;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .3s;
    margin: 8px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#000000;
}
.main_menu_bg .nave_menu {
    /*margin-top:1px;*/
    transition: all 0.6s;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #000000;
    background:url(../images/line.png) no-repeat scroll 15px 40px;
}

.main_menu_bg .navbar-nav>li>a {
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    font-size: 20px;
    color: #333;
}
.navbar-brand>img {
    /*max-width: 10%;*/
    width: 15%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#ffe1bd;

}
.dropdown-menu>li>a{
    line-height: 4;
}






/*banner*/
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner1.jpeg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner1.jpeg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	outline: none;
}

ul,
label {
	margin: 0;
	padding: 0;
}

body a:hover {
	text-decoration: none;
}

body a:focus {
	outline: none;
}

h2 {
    font-size:3rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3.agileits-title {
	color: #992252;
	text-align: center;
	margin-bottom: 1em;
	text-transform: capitalize;
	font-size: 3em;
}


/*-- news --*/

.w3ls-section {
	padding: 4em 0;
}

.news-w3imgtext {
	padding: 1em 2em;
	background: #fbfbfb;
}

.news-gridtext {
	-webkit-box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
	-moz-box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
	box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.news-gridtext:hover {
	box-shadow: -2px 4px 50px rgba(25, 13, 15, 0.38);
}

.news-w3img {
	overflow: hidden;
}

.news-w3img img {
	width: 100%;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.news-w3img img:hover {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.news-w3imgtext {
	padding: 2em 2.5em;
	text-align: center;
}

.news h5 {
	font-size: 1em;
	color: #000;
	letter-spacing: 1px;
	display: inline-block;
}

.news h4 {
	font-size: 1.7em;
	padding: 1em 0 .8em;
	letter-spacing: 2px;
	display: block;
	color: #992252;
}

.news h4 a {
	color: #333;
	text-decoration: none;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.news h4 a:hover {
	color: #FF5722;
}

.news a.w3-agilebtn {
	padding: .6em 1.5em;
	color: #999;
	font-size: 0.9em;
	border-color: #999;
	margin: 1.5em 0 0;
}

.news a.w3-agilebtn:hover {
	color: #fff;
}

.news-w3lgrids {
	padding: 15px;
}
/*-- //news --*/


/*--mid-section--*/
.mid-section {
    background: url("../images/banner.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height:470px;
}
.mid-top h2 {
    color: #ffcc33;
    font-size: 3em;
}
.mid-top {
    background-color: rgba(44, 62, 80, 0.81);
    padding: 4em 2em;
    width: 80%;
    margin-top: 7em;
}
.mid-top p {
 font-size:0.9em;
 color:#fff;
 line-height:1.9em;
 margin-top:0.7em;
 }
 /*--//mid-section--*/

 /*--/blogs--*/ 
.blog-section {
    padding: 4em 0;
}
.blog-article {
    margin-top: 2em;
}
.post-img img {
    width: 100%;
}
.article-post {
    padding-left: 0;
    position: relative;
}
.date-box{
   position: absolute;
    top: 0;
    overflow: hidden;
    height: 184px;
    width: 179px;
    text-align: center;
    z-index: 0;
    right: 14px;
}
.date-box span.on_date {
   font-size: 1em;
    color: #fff;
    background: #ffcc33;
    text-transform: uppercase;
    padding: 40px 11px 7px 49px;
    width: 371px;
    text-align: center;
    display: block;
    position: absolute;
    left: -60px;
    top: -34px;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(42deg);
    border-bottom: 8px solid #2c3e50;
}
span.on_date.title_shop h6 {
    color: #fff;
    font-size: 1em;
    margin-top: 0.3em;
}
.blog-text {
    position: absolute;
    background-color: rgba(23, 56, 88, 0.69);
    padding: 1em 1em;
    bottom: 95px;
    left: 0;
    width: 290px;
    border-right: 4px solid #ffcc33;
}
.blog-text p {
    color: #fff;
    font-size: 0.85em;
    line-height: 1.8em;
}
.blog-text a h4 {
    color:#ffcc33;
    font-size: 2.1em;
    margin-bottom: 0.2em;
}
.read{
    text-align: right;
	}
.read img {
    width: 8%;
}
ul.ad-info li {
    list-style: none;
    display: inline-block;
    float: left;
    width: 33%;
    font-size: 0.85em;
    color:#fff;
}
ul.ad-info li a{
   color:#ffcc33;
}
ul.ad-info li a:hover{
 text-decoration:underline;
}
ul.ad-info li i {
    color:#ffcc33;
    font-size: 0.95em;
    margin-right:0.2em;
}
ul.ad-info {
    background-color: #2c3e50;
    padding: 1em 1em 2em 1em;
}
.blog-pagenat {
  text-align: center;
  margin-top: 2em;
}
.blog-pagenat ul li {
  display: inline-block;
  list-style:none;
}
.blog-pagenat ul li a {
  display: block;
  background: #fff;
  padding: 8px 1.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color:#ffcc33;
  font-weight: 400;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border: 1px solid #ffcc33;
}
.blog-pagenat ul li a:hover {
  background:#2c3e50;
}

/*contact*/
.contact{
    background: url(../images/123.png) no-repeat top center;
    background-size: cover;
    position: relative;
}

.main_contact .head_title.whitetext h1{
    color:black;
}
.main_contact label{
    font-family: 'Montserrat', sans-serif;
    font-size:1.125rem;
    font-weight: 300;
    margin-bottom:10px;
}
.main_contact .form-control {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent; 
    background-image: none;
    border-top: 1px solid #555;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main_contact .single_contant_left input[type="submit"]{

}

.main_contact textarea.form-control {
    height: auto;
    border-bottom: 1px solid #333;
}

.main_contact .single_message_right_info{
    display: inline-block;
    width: 100%;
    margin-top: 65px;
}

.single_message_right_info li{
    font-size: 1.125rem;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    line-height: 1.5rem;
}
.single_message_right_info li i{
    padding: 5px;
    font-size:1rem;
    float: left;
    width:8%;
    display: inline-block;
    text-align: center;
}
.single_message_right_info li span{
    display:inline-block;
    float: left;
    width:90%;

}
.contact_socail a i{
    font-size:20px;
    color:#000;
    background: #fff;
    text-align: center;
    width:40px;
    height: 40px;
    line-height: 40px;
    margin-left:10px;
}
.contact_socail a:hover i{
    background: #ffe1bd;
    color:#fff;
}

.HiddenText {
  /* align: center; */
  margin:auto;
  display:block;
}

#form1{
  padding:10px;
  border:2px solid #3498db;
  background:#F0F8FF;
  border-radius:15px;
  display:none;

}

#formButton{
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:20px;
  text-align: center;
}

#formButton:hover{
  background: lightblue;
  text-decoration: none;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*========================================================================
service section css
==========================================================================*/
.head_title{
    margin-bottom:60px;
}
.head_title h2{
    font-size:3.125rem;
    color:#223d61;
}
.head_title p{
    font-size:1rem;
}

.img {
  width: 80%;
}

/*--about--*/
 .header.two {
    background: url(../images/bg2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height:400px;
}
.logo.two {
    float: none;
    text-align: center;
    padding-top: 5em;
}
.about {
  padding: 4em 0;
}
.about p {
  font-size: 0.95em;
  color: #888;
  line-height: 1.8em;
}
.about-top-left img {
  width: 100%;
}
.about-top-right p {
  color: #555;
  font-size: 0.9em;
  line-height: 1.8em;
  margin-top: 1em;
}
.about-top-right h4 {
  color:#ffcc33;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.35em;
  padding: 0
}
.about-top-right {
  padding-left: 0;
}


h4 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}

h4 > a {
  color: #515769;
}

h4 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h4 > a:focus {
  text-decoration: none;
}

span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #bfc1c7;
}

/*------------------------------------------------------------------
    [Service]
------------------------------------------------------------------*/
.service {
  background: #fff;
  padding: 50px;
}

.service .service-element,
.service .service-info {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service .service-icon {
  display: block;
  font-size: 30px;
  color: #999caa;
  margin-bottom: 30px;
}

.service:hover .service-element {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service:hover .service-info {
  -webkit-transform: translate3d(0, -30%, 0);
  -moz-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


.margin-b-2 {
  margin-bottom: 2px !important;
}

.row-space-1 {
  margin-right: -1px;
  margin-left: -1px;
}

.closer {
  position: relative;
  height: 600px;
  background-image: url("../images/banner3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.closer .closing-claim {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 15px;
}

.closer .closing-claim h1 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 42px;
}

.closer .closing-claim p {
  max-width: 475px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

/*-------------------------------------------------------*/
/* Promo Section
/*-------------------------------------------------------*/
.promo-section__title {
  margin-bottom: 25px;
  margin-top: 50px; }
  @media only screen and (max-width: 1199px) {
    .promo-section__title {
      margin-top: 15px; } }
  @media only screen and (max-width: 991px) {
    .promo-section__title {
      margin-top: 30px; } }

.promo-section__title--lg {
  font-size: 42px; }
  @media (max-width: 1500px) {
    .promo-section__title--lg {
      font-size: 36px;
      margin-top: 0; } }
  @media only screen and (max-width: 767px) {
    .promo-section__title--lg {
      font-size: 28px;
      margin-top: 30px; } }

.promo-section__features {
  line-height: 30px;
  list-style: none; }

.promo-section__features__icon {
  color: #96e46c;
  margin-right: 15px; }

.promo-section__img {
  border-radius: 5px;
  width: 100%; }

.section-wrap {
  padding: 130px 0;
  overflow: hidden;
  background-size: cover;
  background-position: center; }
  .section-wrap--md {
    padding: 170px 0; }
  .section-wrap--lg {
    padding: 200px 0; }


/*-------------------------------------------------------*/
/* Testimonials
/*-------------------------------------------------------*/
.testimonial {
  padding: 0 100px; }
  @media only screen and (max-width: 767px) {
    .testimonial {
      padding: 0 50px; } }
  .testimonial__body {
    padding-left: 270px;
    margin-top: 10px; }
    @media only screen and (max-width: 991px) {
      .testimonial__body {
        width: 100%;
        padding-left: 200px; } }
    @media only screen and (max-width: 767px) {
      .testimonial__body {
        padding-left: 0; } }
  .testimonial__img {
    border-radius: 50%;
    margin-bottom: 18px;
    position: absolute; 
    width: 15%;
    /*position: relative;*/}
    @media only screen and (max-width: 991px) {
      .testimonial__img {
        width: 100px; } }
    @media only screen and (max-width: 767px) {
      .testimonial__img {
        position: relative; } }



.heading-row {
  margin-bottom: 70px; }
  @media only screen and (max-width: 991px) {
    .heading-row {
      margin-bottom: 40px; } }

.text-center {
  text-align: center; }

.heading {
  position: relative;
  margin-bottom: 0; }
  .heading--lg {
    font-size: 42px; }
    @media only screen and (max-width: 991px) {
      .heading--lg {
        font-size: 28px; } }


.subheading {
  font-size: 18px;
  max-width: 770px;
  line-height: 30px;
  padding: 0 15px;
  margin-bottom: 0;
  margin-top: 25px;
  margin: 25px auto 0;
  color: #7d7d7d; }
  .subheading-left-align {
    margin-left: 0;
    padding-left: 0; }

.top-divider {
  border-top: 1px solid #e8e8e8; }

.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/*-------------------------------------------------------*/
/* Feature
/*-------------------------------------------------------*/
.feature {
  position: relative;
  text-align: left; }
  .feature__icon-holder {
    display: inline-block;
    margin-bottom: 20px; }
  .feature__icon {
    font-size: 56px;
    display: inline-block;
    color: #212121;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .bg-dark .feature__icon {
      color: #fff; }
  .feature__icon--gradient {
    color: #39bad6;
    background: -moz-linear-gradient(bottom, #4193d6 0%, #39bad6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4193d6), color-stop(100%, #39bad6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, #4193d6 0%, #39bad6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, #4193d6 0%, #39bad6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #4193d6 0%, #39bad6 100%);
    /* IE10+ */
    background: linear-gradient(to top, #4193d6 0%, #39bad6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4193d6', endColorstr='#39bad6',GradientType=0 );
    /* IE6-9 */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .feature__title {
    font-size: 20px;
    margin-bottom: 13px; }
  .feature__text p {
    margin-bottom: 0; }
  .feature__base {
    background-color: #fff;
    padding: 60px 50px;
    overflow: hidden; }
  .feature--border {
    border-radius: 5px;
    border: 1px solid #e8e8e8; }
  .feature--transparent .feature__base {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4); }
  .feature--transparent .feature__icon,
  .feature--transparent .feature__text__paragraph {
    color: #fff; }

/*-------------------------------------------------------*/
/* Feature 1
/*-------------------------------------------------------*/
.feature-1 {
  padding: 130px 115px 130px 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .feature-1:first-child {
    border-right: 1px solid #e8e8e8; }
    @media only screen and (max-width: 639px) {
      .feature-1:first-child {
        border-right: none;
        border-bottom: 1px solid #e8e8e8; } }
  .feature-1:last-child {
    padding: 130px 0 130px 115px; }
  @media only screen and (max-width: 767px) {
    .feature-1 {
      padding: 80px 40px !important; } }
  .feature-1 p {
    margin-bottom: 20px; }

@media only screen and (max-width: 639px) {
  .flex-xs-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

/*-------------------------------------------------------*/
/* Feature 2
/*-------------------------------------------------------*/
.feature-2 {
  padding: 110px 70px;
  border-right: 1px solid #313131; }
  @media only screen and (max-width: 991px) {
    .feature-2 {
      padding: 80px 40px;
      border-right: 0;
      border-bottom: 1px solid #313131; } }
  @media only screen and (max-width: 639px) {
    .feature-2 {
      padding: 60px 20px; } }
  .feature-2 .feature__icon {
    position: absolute; }
  .feature-2 .feature__text {
    padding-left: 85px; }



